#judul {
  font-size: 25px;
}

#gambar-film {
  margin-top: -10px;
}

#daftar-film {
  font-size: 18px;
}

#search {
  width: 150px;
}

#isi-form {
  margin-top: 20px;
  margin-bottom: 20px;
}


.jf, .tf{
  width: 250px;
}

.rf {
  width: auto;
}

#simpan {
  width: 100px;
}

#table {
  margin-top: 30px;
}

td {
  text-align: center;
}
